#container{
    width:100%;
    height: 900px;
    /* border: 1px solid; */
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-gap: 2%;
    overflow: scroll;
}
#container>div{
    width: 220px;
    height: 310px;
    border: 1px solid black;
}
#container>div>img{
    height: 70%;
    width: 100%;
}
#container>div>h3{
    text-align: center;
    margin-bottom: 0%;
}
#container>div>:last-child{
    display: flex;
    /* border: 1px solid; */
    align-items: center;
    justify-content: space-between;
}
#top{
    display: flex;
    justify-content: space-between;
}
#top>h1{
    margin:2%
}
button{
    height: 30px;
    margin: 2%;
}
#cartDetails{
    border: 1px solid;
    width: 300px;
    height: 150px;
    margin-bottom: 20px;
    border-radius: 10px;
}